{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [["babel-plugin-styled-components", { "fileName": false }]],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react"]
    }
  }
}